<div class="row">
  <div class="col-12">
    <table class="table table-borderd">
      <thead>
      <th>Sr No</th>
      <th>EID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Salary</th>
      <th>Department</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let emp of EmpArray; let srNo = index">
        <td>{{ srNo + 1 }}</td>
        <td>
            {{ emp.id }}
        </td>

        <td>

          <div *ngIf="emp.isEdit">
          <input type="text" [(ngModel)]="emp.name">
        </div>
          <div *ngIf="!emp.isEdit">
            {{ emp.name }}
          </div>

        </td>

        <td>
          <div *ngIf="emp.isEdit">
            <input type="text" [(ngModel)]="emp.email">
          </div>
          <div *ngIf="!emp.isEdit">
            {{ emp.email}}
          </div>
        </td>
        <td>
          <div *ngIf="emp.isEdit">
            <input type="number" [(ngModel)]="emp.phone">
          </div>
          <div *ngIf="!emp.isEdit">
            {{ emp.phone }}
          </div>
          </td>
        <td>
          <div *ngIf="emp.isEdit">
            <input type="number" [(ngModel)]="emp.salary">
          </div>
          <div *ngIf="!emp.isEdit">
            {{ emp.salary }}
          </div>
        </td>
        <td>
          <div *ngIf="emp.isEdit">
            <select class="form-select" [(ngModel)]="emp.department">
              <option selected>{{emp.department}}</option>
              <option value="HR">HR</option>
              <option value="Angular">Angular Developer</option>
              <option value="Frontend">Front-end Developer</option>
              <option value="React">React Developer</option>
              <option value="Net">.Net Developer</option>
              <option value="Finance">Finance</option>
            </select>

          </div>
          <div *ngIf="!emp.isEdit">
            {{ emp.department }}
          </div>



          </td>
        <td class="text-center">

          <div *ngIf="!emp.isEdit">
            <i class="fa fa-pencil-square-o px-2" aria-hidden="true" (click)="onEdit(emp)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="OnDelete(emp.id)"></i>
          </div>
          <div *ngIf="emp.isEdit">
            <i class="fa fa-cloud px-2" aria-hidden="true" (click)="Savedata(emp)"></i>
          <i class="fa fa-times-circle" aria-hidden="true" (click)="OnCancel(emp)"></i>
  </div>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
